<div class="container-footer-component">
  <div>
    <a class="contact" href="https://gitlab.com/tobiaskaufmann/techstax"> Fork me on GitLab! </a>
  </div>
  <!-- <div class="created-by">Created 2020</div> -->
  <div class="made">
    All rights reserved ©2020
    <!-- Made with 🤍 in Austria -->
  </div>
</div>
