.unique-error {
  min-height: 30px;
}
.unique-error-label {
  color: red !important;
}
.icon-outer {
  height: 38px;
  width: 38px;
  // background-color: #8f9bb3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-at {
  color: #8f9bb3;
  font-size: 20px;
}
.input-icon-row {
  display: flex;
  align-items: center;
}
