<nb-layout>
  <nb-layout-column class="login-body">
    <div class="login-container">
      <nb-card class="login-card">
        <nb-card-header>
          <a href="/techstax/" class="navbar-logo no-underline">tech<span class="stax">stax</span></a>
          <h1>Sign up / Login</h1>
        </nb-card-header>
        <nb-card-body class="button-container">
          <form [formGroup]="this.form">
            <div class="form-group">
              <div class="row">
                <div class="col-12">
                  <button class="login-button" nbButton status="info" (click)="loginGoogle()">
                    <ng-container *ngIf="googleLoading">
                      <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </ng-container>

                    <nb-icon *ngIf="!googleLoading" icon="google"></nb-icon>
                    Sign in with Google
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="login-button" nbButton status="info" (click)="loginGithub()">
                    <ng-container *ngIf="githubLoading">
                      <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </ng-container>
                    <nb-icon *ngIf="!githubLoading" icon="github"></nb-icon>
                    Sign in with GitHub
                  </button>
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
        <p>{{ error }}</p>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
