<div class="image-container">
  <nb-icon
    *ngIf="imageIsLoaded"
    (click)="closeDialog()"
    class="close-icon"
    [options]="{ animation: { type: 'pulse' } }"
    icon="close-outline"
  >
  </nb-icon>
  <img (load)="imageLoaded()" class="image" src="{{ image.url }}" />
</div>
