@import '../../../variables.scss';

.delete-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.delete-card {
  margin-top: -200px;
  @media screen and (max-width: $mobile * 1px) {
    margin-top: -300px;
    width: 90vw;
  }
}
