// import Nebular Theme System and the default theme
@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/default";
@import "~@nebular/theme/styles/themes/dark";

// <- new primary color
$nb-themes: nb-register-theme(
  (
    color-primary-100: #000000,
    color-primary-200: #000000,
    color-primary-300: #000000,
    color-primary-400: #000000,
    color-primary-500: #000000,
    color-primary-600: #000000,
    color-primary-700: #000000,
    color-primary-800: #000000,
    color-primary-900: #000000,
    text-basic-color: color-basic-800,
    text-disabled-color: color-basic-600,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    color-danger-100: #edf1f7,
    color-danger-200: #edf1f7,
    color-danger-300: #edf1f7,
    color-danger-400: #edf1f7,
    color-danger-500: #edf1f7,
    color-danger-600: #edf1f7,
    color-danger-700: #edf1f7,
    color-danger-800: #edf1f7,
    color-danger-900: #edf1f7,
    text-basic-color: color-basic-800,
    text-disabled-color: color-basic-600,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    color-info-500: linear-gradient(to right, #5989e5, #37cfdc),
    text-basic-color: color-basic-800,
    text-disabled-color: color-basic-600,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    color-basic-300: #f5f5f5,
    text-basic-color: color-basic-800,
    text-disabled-color: color-basic-600,
  ),
  default,
  default
);
