@import '../../../variables.scss';
.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.subscribe-button {
  margin-left: 10px;
}
.newsletter-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.newsletter {
  min-height: 300px;
  max-height: 90vh;
  width: 60vw;
  margin-top: -30px;
  @media screen and (max-width: $mobile * 1px) {
    width: 90vw;
  }
}
