<nb-card class="newsletter">
  <nb-card-header>
    <h6>This feature hasn't been implemented yet :(</h6>
  </nb-card-header>
  <nb-card-body class="newsletter-body">
    <div>
      <p>
        This feature is, like many others, currently under development. Subscribe to the newsletter and get notified
        right away when it's ready! No spam, of course.
      </p>
      <form [formGroup]="firstForm">
        <div class="input-row">
          <input
            class="form-control"
            formControlName="email"
            type="text"
            nbInput
            fullWidth
            status="info"
            placeholder="john.doe@gmail.com"
          />
          <button class="subscribe-button" (click)="subscribe()" nbButton status="info">Subscribe</button>
        </div>
      </form>
    </div>
  </nb-card-body>
</nb-card>
